@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}


    <img style="margin-top: 45px" src="~/images/bnr-02.jpg" alt="Banner" width="100%" />

    <div class="panel-body">
        <div class="hTitle">
            NEW RECIPE of this WEEK
        </div>
        <table id="homeTable">
            <tr>
                <td>
                    <img src="~/images/Cheesy-Toad.png" />
                    <p>
                        Cheesy Toad
                    </p>
                </td>
                <td>
                    <img src="~/images/egg_taco.jpg" />
                    <p>
                        Egg Taco
                    </p>
                </td>
                <td>
                    <img src="~/images/Fresh-pasta.png" />
                    <p>
                        Fresh Pasta
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/images/hamburger.png" />
                    <p>
                        Hamburger
                    </p>
                </td>
                <td>
                    <img src="~/images/mini-cobb-salad-avocado-dressing.jpg" />
                    <p>
                        Mini salad avocado
                    </p>
                </td>
                <td>
                    <img src="~/images/pulled-pork.jpg" />
                    <p>
                        Pulled pork
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/images/Shrimp-egg-salad.gif" />
                    <p>
                        Shrimp egg salad
                    </p>
                </td>
                <td>
                    <img src="~/images/spageti.jpg" />
                    <p>
                        Spaghetti
                    </p>
                </td>
                <td>
                    <img src="~/images/veggie-frittata.jpg" />
                    <p>
                        Veggie frittata
                    </p>
                </td>
            </tr>
        </table>
    </div>

